

    <section class="container">
      <header>Student Details</header>
      <form [formGroup]="studentobj" class="form" (ngSubmit)="dosubmit()">
        <div class="input-box">
          <label>Full Name</label>
          <input type="text" placeholder="Enter full name" required formControlName="student_name" />
          <small *ngIf="studentobj.get('student_name').invalid && studentobj.get('student_name').touched">*Student name is a Required Field and should contain atleast 3 Alphabetic characters</small>
        </div>
        <div class="column">
        <div class="input-box">
          <label>Email Address</label>
          <input type="text" placeholder="Enter email address" required formControlName="student_email" (input)="checkexistemail()" />
          <small *ngIf="studentobj.get('student_email').invalid && studentobj.get('student_email').touched">*Student Email is a Required Field</small>
          <small *ngIf="stu_exist">*Student Already Exist</small>
        </div>
        <div class="input-box">
          <label>University Number</label>
          <input type="text" placeholder="Enter University number" required  formControlName="student_usn" (input)="checkexistusn()" />
          <small *ngIf="studentobj.get('student_usn').invalid && studentobj.get('student_usn').touched">*Student USN is a Required Field and Should contain Minimun of 2 Digits</small>
          <small *ngIf="stu_existusn">*Student Already Exist</small>
        </div>
      </div>
        <div class="column">

          <div class="input-box">
            <label>Class</label>
            <input type="number" placeholder="Enter present class" required formControlName="student_class"/>
            <small *ngIf="studentobj.get('student_class').invalid && studentobj.get('student_class').touched">*Student present  class is a Required Field and between 1-10</small>
          </div>
        
          <div class="input-box">
            <label>Birth Date</label>
            <input [max]="maxDate.toISOString().split('T')[0]" type="date" placeholder="Enter birth date" required formControlName="student_dob"/>
            <small *ngIf="studentobj.get('student_dob').invalid && studentobj.get('student_dob').touched">*Student Dob is a Required Field</small>
          </div>
        </div>
        <div class="column" id="horizon">
        <div class="gender-box">
          <h3>Gender</h3>
          <div class="gender-option">
            <div class="gender">
              <input type="radio" id="check-male" name="student_gender" checked value="male"formControlName="student_gender" />
              <label for="check-male">Male</label>
            </div>
            <div class="gender">
              <input type="radio" id="check-female" name="student_gender" value="female" formControlName="student_gender"/>
              <label for="check-female">Female</label>
            </div>
            <small *ngIf="studentobj.get('student_gender').invalid && studentobj.get('student_gender').touched">*Student gender is a Required Field</small>
          </div>
        </div>
        <button type="button" id="addex" (click)="addexam()">Add Exam <i class='bx bxs-message-square-add' ></i></button>
      </div>
        <div class="input-box address" formArrayName="student_exams">
          <div id="sepinput" class="input-box" *ngFor="let item of studentobj.get('student_exams')['controls'] | keyvalue;let i = index" formGroupName="{{i}}">
            <p class="exam_close">Exam {{i+1}} <i class='bx bx-x bx-rotate-90 exclose'(click)="removeexam(i)" ></i></p>
            <div class="column">
              <div class="input-box">
                <label for="exm-sel">Select Exam</label>
              <div class="select-box">
                <input type="text" name="exam_id" id="" hidden formControlName="exam_id">
                <select  formControlName="exam_name" (change)="update(i)" id="exm-sel">
                  <option hidden>Select Exam</option>
                  <option value={{itm.exam_name}} *ngFor="let itm of exam_data">{{itm.exam_name}}</option>
                
                </select>
                <small *ngIf="studentobj.get('student_exams.' + i + '.exam_name').invalid && studentobj.get('student_exams.' + i + '.exam_name').touched">*Please select Exam</small>
              </div>
            </div>
              <div class="input-box">
                <label for="ex-marks">Enter Marks</label>
              <input  type="number" id="ex-marks"placeholder="Enter Marks Obtained" required  formControlName="exam_marks" (blur)="dynamic(i)"/>
              <small *ngIf="studentobj.get('student_exams.' + i + '.exam_marks').invalid && studentobj.get('student_exams.' + i + '.exam_marks').touched">*Please Enter Marks Between 1-100</small>
            </div>
            <div class="input-box">
              <label for="remks">Remarks</label>
              <input id="remks" type="text" placeholder=""    readonly formControlName="exam_remarks"/>
            </div>
          </div>
            
          </div>

        </div>
        <button type="submit" [disabled]="studentobj.invalid || stu_exist">Submit</button>
      </form>
    </section>
