<div class="container">
  <div class="left">
    <div class="boxes">
      <div class="dashboard-box">
        <h4>Total Students</h4>
        <p>{{total}}</p>
      </div>

      <div class="dashboard-box">
        <h4>Total Boys</h4>
        <p>{{totalboys}}</p>
      </div>

      <div class="dashboard-box">
        <h4>Total Girls</h4>
        <p>{{totalgirls}}</p>
      </div>
    </div>
    <div id="subjectpass"></div>
  </div>
  <div class="right">
    <div id="subjectperformance"></div>
  </div>
</div>

<div id="lastcontainer">

</div>
