
    <section class="container">
      <header>Exam Details</header>
      <form  class="form" [formGroup]="examobj" (ngSubmit)="dosubmit()">
        <div class="input-box">
          <label>Exam Name</label>
          <input type="text" placeholder="Enter Exam name"  formControlName="examname" required  (input)="checkexist()"/>
          <small *ngIf="examobj.get('examname').invalid && examobj.get('examname').touched">*Exam name is a Required Field</small>
          <small *ngIf="exam_exist">*Exam Already Exist</small>
        </div>

        <div class="input-box">
            <label>Exam Date</label>
            <input type="date" placeholder="Enter Exam date" formControlName="examdate" required [max]="maxDate.toISOString().split('T')[0]"/>
            <small *ngIf="examobj.get('examdate').invalid && examobj.get('examdate').touched">*Exam Date is a Required Field</small>
        </div>

        <div class="column">
          <div class="input-box">
            <label>Total Max Marks</label>
            <input type="number" placeholder="Enter Maximum Marks" formControlName="exammax" required />
            <small *ngIf="examobj.get('exammax').invalid && examobj.get('exammax').touched">*Max Marks should be between 1 - 100 </small>
          </div>
          <div class="input-box">
            <label>Passing  Marks</label>
            <input type="number" placeholder="Enter Passing Marks" required formControlName="exammin" />
            <small *ngIf="examobj.get('exammin').invalid && examobj.get('exammin').touched">*Passing Marks should be between 10 - 100 </small>
          </div>
 
        </div>
        
        <button [disabled]="examobj.invalid || exam_exist">Submit</button>
      </form>
    </section>
